<footer class="footer">
      <div class="container">
        <span class="text-muted"><span id="year"></span> Borak</span>
      </div>
      <script>
        document.getElementById('year').innerHTML = new Date().getFullYear();
      </script>
    </footer>
