<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#">Borak</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            {{#if user}}
            <li class="nav-item active">
              <a class="nav-link" href="/auth/logout"><!-- <img src="{{ user.image }}" alt="{{ user.firstName }}" class="img-fluid rounded-circle" style="max-width: 4%">--> {{ user.firstName }}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/auth/logout"><i class="fa fa-sign-out"></i> Log Out</a>
            </li>
            {{else}}
            <li class="nav-item active">
              <a class="nav-link" href="/auth/google"><i class="fa fa-sign-in"></i> Log In</a>
            </li>
            {{/if}}
          </ul>
        </div>
        </div>
      </nav>
</header>
